/* địa chỉ trang hiện tại */
.location-page {
  height: 60px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.location-page span {
  font-size: 18px;
  line-height: 32px;
  color: #64748B;
}

.location-page .current-page {
  color: #002351;
  font-weight: 700;
}