.contact {
  height: 32px;
}

.contact span{
  font-size: 14px;
}

/* --------------header-------------------- */

.header-container {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-search-container {
  height: 36px;
  width: 35%;
}

.search-btn {
  border: none;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 45%;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav-item span {
  font-size: 16px;
  line-height: 20px;
}

.drop-menu {
  background-color: #25982B;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
}

.drop-menu-2 {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: black;
  border: none;
}

.drop-menu-2:hover {
  background-color: white;
  color: black;
}

.drop-menu:hover {
  background-color: #425843;
  opacity: 0.8;
}

/* thanh điều hướng */
.navigation {
  min-height: 60px;
  padding: 8px;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.nav-container a {
  cursor: pointer;
}

.nav-container a span {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.sp-container-2 {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* slider */
.banner-slider {
  max-width: 1280px;
  margin-top: 40px;
}


/* quảng cáo */
.recommend-container {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  gap: 100px;
}

.recommend-intro {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.intro-text {
  font-size: 52px;
  font-weight: 600;
  line-height: 60px;
}

.intro-title {
  color: #25982B;
}

.intro-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25982B;
  width: 240px;
  height: 44px;
  border-radius: 16px;
  margin-top: 32px;
}

.intro-btn a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.special-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.sp-title {
  color: black;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 12px;
}

.sp-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 12px;
  text-decoration: none;
  align-items: center;
  gap: 8px;
}

.sp-first {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sp-first {
  font-size: 16px;
  line-height: 20px;
}

.review-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.produce-video {
  border-radius: 30px; /* Góc bo tròn */
}

.review-view {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.review {
  text-align: end;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2%;
  color: #6B6B6B;
}

.review-text-1 {
  font-size: 14px;
  line-height: 17.57px;
  color: #2F2F2F;
}

.review-text-2 {
  font-size: 14px;
  line-height: 17.57px;
  color: #9F9F9F;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  margin-top: 40px;
}

.video-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.recommend-img-container {
  width: 40%;
}

/* chính sách */
.delivary-container {
  display: flex;
  min-height: 120px;
  align-items: center;
  padding: 12px;
  justify-content: space-around;
  background-color: #F5F6F9;
  flex-wrap: wrap;
  gap: 12px;
}

.delivary {
  display: flex;
  align-items: center;
  gap: 16px;
}

.delivary-title-container {
  display: flex;
  flex-direction: column;
}

.delivary-title-container .text-1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.delivary-title-container .text-2 {
  font-size: 16px;
  line-height: 20px;
}

/* danh mục sản phẩm */
.category-container {
  margin-top: 40px;
}

.list-category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.list-category-header span {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

.list-category-header .more-btn {
  display: flex;
  text-decoration: none;
  color: #25982B;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.category-item-img {
  width: 143px;
  height: 138px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.category-item span{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}


.story-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px
}

.graph-containe {
  background-color: #013423;
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.story-content .text-style {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

.story-content span {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.legit-container {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.legit-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.legit-title span{
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.legit-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.legit-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.legit-item-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}